.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.profile-img:hover {
  cursor: pointer;
}

.homepage-info {
  /* background-size: cover; */
  position: absolute;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  max-height: 500px;
  margin: auto 8%;
  /* padding: 25px; */
  display: flex;
  background-color: #ffffff;
  opacity: 95%;
  outline: solid 1px #c1cfd3;
  /* will-change: transform, opacity; */

  /* outline-offset: 3px; */
}


.c {
  will-change: transform, opacity;
}
 
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

